<body>
<div class="center jumbotron">

	<h1>Tu as oublié de renseigner un ou deux champs!</h1>

	<h3>Pour revenir au formulaire, c'est par là: 
		<%= link_to "Nouveau formulaire", '/gossips/new', class: "btn btn-lg btn-primary" %><br />
	</h3> 

</div>