<p>Retrouve ici tous les commentaires déjà postés sur cet article:</p>

<% @comments.each do |comment| %>
  <dl style="margin-left: 30px;">
      <dt>Le comment posté par <%= comment.anonymous_commentator %>:</dt>
      <dd><%= comment.body %></dd>
  </dl>
<% end %>



