<body>

<!-- ################################# AFFICHAGE DE L'ÉDIT ################################### -->

  <div class="center jumbotron">

    <h1>Apparemment, tu veux modifier ton Gossip !</h1>
    <h3>Heureusement pour toi, on a tout prévu...</h3>

  </div>


<!-- ########################## FORMULAIRE D'ÉDITION DU GOSSIP ############################### -->


  <div class = row style="margin-left: 30px;">

<!-- L'action Update permet de faire appel à la méthode Patch. -->

    <%= form_for @gossip, url: {action: "update"} do |f| %>

      <div class = "form-group">
        Si tu veux éditer ton gossip, écris-en un nouveau!<br />
        <%= f.text_area :content %><br />
      </div>

      <div class = "form-group">
        <button class= "btn btn-default">Soumettre mon nouveau formulaire!</button> 
      </div>

      <div class = "form-group">
        <a href="<%= gossip_path(@gossip.id) %>"  class="btn btn-danger" data-method="DELETE" data-confirm="C'est ton dernier mot?">Supprimer le gossip</a>
      </div>
    
  <% end %>

</body>

