<body>
<div class="center jumbotron">

	<h1>Retrouve ici tous les Gossips!</h1>

	<h3>Ici, tu vas retrouver tous les potins de THP...</h3> 

</div>

<% @gossips.each do |gossip| %>
	<dl style="margin-left: 30px;">
	    <dt>Le gossip posté par <%= gossip.anonymous_author %>:</dt>
	    <dd><%= gossip.content %></dd>
	</dl>
<% end %>
</body>
