<div class="center jumbotron">

  <h1>Bienvenue sur la page des Gossips !</h1>

  <h3>Ici, tu vas pouvoir écrire ce qui te passe par la tête, de manière anonyme.</h3> 

</div>

<%= form_for @gossip, url: {action: "create"} do |f| %>

  <div class = "form-group">
    Indique ton nom de super-héros que tu seras le seul à connaître :)<br />
    <%= f.text_field :anonymous_author %><br />
  </div>

  <div class = "form-group">
    Ecris ici le petit gossip ou mot doux que tu veux adresser:<br />
    <%= f.text_area :content %><br />
  </div>

  <div class = "form-group">
    <button class= "btn btn-default">Soumettre mon formulaire!</button> <!-- ou: <%= f.submit "Submit" %> -->
  </div>

<% end %>


