<body>

  <div class="center jumbotron">

    <h1>Bienvenue sur la page du Gossip !</h1>
    <h3>Ici, tu vas pouvoir écrire ce qui te passe par la tête, de manière anonyme.</h3> 

  </div>

  <div class = row style="margin-left: 30px;">

    <%= form_for @gossip do |f| %>

        <div class = "form-group">
          Ecris ici le petit gossip ou mot doux que tu veux adresser:<br />
          <%= f.text_area :content %><br />
        </div>

        <div class = "form-group">
          <button class= "btn btn-default">Soumettre mon formulaire!</button> 
        </div>

    <% end %>

  </div>

</body>


