<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/">Accueil</a></li>
      <li><a href="/gossips">Index des gossips</a></li>
      <li><a href="/gossips/new">Nouveau gossip</a></li>
    </ul>
  </div>
</nav>